<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "./sliding_window.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

<!--主页的banner组件-->
<div class="banner">
    <div class="avanta_frame">
        <div class="avanta"></div>
    </div>
    <div class="search_text">
        <input type="text" value="//及时当勉励，岁月不待人。">
        <span class="iconfont">&#xe631;</span>

    </div>
    <div class="create_icon">
        <span class="iconfont">&#xe60f;</span>
    </div>
</div>

<!--侧拉组件-->
<div class="sliding_door">
    <div class="avanta_frame">
        <div class="avanta"></div>
    </div>

    <div class="username">云淡风轻</div>
    <div class="achievement">翰林学士</div>
    <div class="showPoints">积分:2000</div>
    <div class="sliding_door_border"></div>
    <div class="sliding_door_box" ><span>个人资料</span> </div>
    <div class="sliding_door_box"><span>我的收藏</span></div>
    <div class="sliding_door_box"><span>我的足迹</span></div>
    <div class="sliding_door_box"><span>我的关注</span></div>
    <div class="sliding_door_box"><span>我的门客</span></div>

    <div class="settings" style="color:gray"><span class="iconfont">&#xe63b;</span>设置</div>
</div>


<!--主页的bottom组件-->
<div class="bottom">
    <div class="icon">
        <span class="iconfont">&#xe625;</span><br>
        <span class="icon_text">文库</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe627;</span><br>
        <span class="icon_text">主页</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe617;</span><br>
        <span class="icon_text">互动</span>
    </div>
</div>
</body>
</html>