
/*头像的外框*/
.avanta_frame{
    /*头像的底色*/
    background: white;
    /*头像的外边框描边*/
    border: 2px solid brown;
    /*设置头像为圆形*/
    border-radius: 50% 50% 50% 50%;

    /*这里是为了让头像内框的图片处于正中央的位置。*/
    display: flex;
    justify-content: space-around;
    align-items: center;

    /*-----------------------------------------------------*/
    /*头像的大小，大小自调。*/
    height: 98px;
    width: 98px;

    /*头像的位置，位置自调。*/
    position: relative;
    top:0;
    left: 0;
}

/*头像的内框*/
.avanta{

    /*头像内框*/
    background: url("../../image/profile_photo/default_female.png")no-repeat,center;
    position: relative;
    border-radius: 50% 50% 50% 50%;

    /*如果外框的height与width改变了，将下面所有的值都设定为一样的数值。这里全是98px。*/
    background-size: 98px 98px;
    height:98px;
    width:98px;

}