<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Document</title>
    <style>
        @import "./composing_poetry.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>
    <!--主页的banner组件-->
<div class="banner">
    <div class="return"><span class="iconfont">&#xe608;</span>返回</div>
    <div class="title"></div>
</div>

<!-- verse组件 -->
<div class="composingPoetryBox">
    <div class="composingPoem-fameBox">
        <input type="text" class="composingPoem_fame">
    </div>
    <div class="composingPoetryBodyBox">
        <textarea class="composingPoetryBody" id="" cols="30" rows="10"></textarea>
    </div>

    <!-- button组件 -->
    <div class="button"><span>完  畢</span></div>
</div>



<!--主页的bottom组件-->
<div class="bottom">
    <div class="icon">
        <span class="iconfont">&#xe625;</span><br>
        <span class="icon_text">文库</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe627;</span><br>
        <span class="icon_text">主页</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe617;</span><br>
        <span class="icon_text">互动</span>
    </div>
</div>
</body>
</html>