<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "./poetry_class_out.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

<!--主页的banner组件-->
<div class="banner">
    <div class="return"><span class="iconfont">&#xe608;</span>返回</div>
    <div class="title"></div>
</div>

<!-- 分类选择组件 -->
    <div class="changeButtonBox">
        <button type="button" class="changeButton">朝代</button>
        <button type="button" class="changeButton">标签</button>
        <button type="button" class="changeButton">作者</button>
    </div>

<!-- 众类型组件 -->
<div class="classesBox">

    <!-- 单个类型组件 -->
    <div class="oneClass">
        <div class="classProfile">怀</div>
        <div class="className">怀古</div>
    </div>
    
    <div class="oneClass">
            <div class="classProfile">怀</div>
            <div class="className">怀古</div>
    </div>
        
    <div class="oneClass">
        <div class="classProfile">怀</div>
        <div class="className">怀古</div>
    </div>

    <div class="oneClass">
        <div class="classProfile">怀</div>
        <div class="className">怀古</div>
    </div>
    
    <div class="oneClass">
        <div class="classProfile">怀</div>
        <div class="className">怀古</div>
    </div>

</div>

<!--主页的bottom组件-->
<div class="bottom">
    <div class="icon">
        <span class="iconfont">&#xe625;</span><br>
        <span class="icon_text">文库</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe627;</span><br>
        <span class="icon_text">主页</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe617;</span><br>
        <span class="icon_text">互动</span>
    </div>
</div>
</body>
</html>