<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Document</title>
    <style>
        @import "./change_box.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

    <!-- 选择框组件 -->
    <div class="cb_box">

        <div class="cb_name">我的头像</div>

        <div class="cb_body">
            <div class="cb_left iconfont">&#xe608;</div>

            <div class="cb_box2">
                <div class="cb_box3">
                    <div class="cbb3_name">绝赞</div>
                </div>
                <div class="cb_box3">
                    <div class="cbb3_name">绝赞</div>
                </div>
                <div class="cb_box3">
                    <div class="cbb3_name">绝赞</div>
                </div>
            </div>

            <div class="cb_right iconfont">&#xe608;</div>
        </div>

    </div>

</body>
</html>