
body{background: seashell;
    /* background: url("../../image/login_background.png"); */
    background:#F2F2F2;

}

.register_container{
    position: absolute;
    top:180px;
    left: 160px;
}

.regist_text{
    height:78px;
    width: 700px;
    border-left-width:0;border-top-width:0;border-right-width:0;border-bottom-color:red;
    margin: 60px 0 80px;
    background:transparent;
    position: relative;
    font-size: 46px;
    font-weight: 600;
    vertical-align:middle;
    font-family: 晨曦, serif;
}

.regist_welcome span{
    font-family: 毛笔隶书,serif;
    font-size: 58px;
    margin-bottom: 60px;
    display: block;
}
.regist_button
{
    height: 370px;
    width: 650px;
    background: url("../../image/button.png") no-repeat center;
    background-size: 650px 550px;
    position: relative;
    left: 40px;

}

.regist_button span{
    display: block;
    left: -20px;
    top: 135px;
    position: relative;
    font-size: 76px;
    /* vertical-align:middle; */
    color: antiquewhite;
    text-align: center;
    font-family: 日文毛笔行书, serif;
    font-weight: 600;

}

.regist_span{
    font-family: 晨曦, serif;
    font-size: 42px;
    font-weight: 600;
}
