<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "./home.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

<!--主页的banner组件-->
<div class="banner">
    <div class="avanta_frame">
        <div class="avanta"></div>
    </div>
    <div class="search_text">
        <input type="text" value="//及时当勉励，岁月不待人。">
        <span class="iconfont">&#xe631;</span>

    </div>
    <div class="create_icon">
        <span class="iconfont">&#xe60f;</span>
    </div>
</div>

<!--中间组件-->
<div class="home_display">
    <div class="home_daily_poems">
        <div class="home_title"><span>静夜思</span></div>
        <div class="home_mark"><span class="iconfont">&#xe60f;收藏</span></div>
        <div class="home_text">
            <span>窗前明月光，
                疑是地上霜。
                舉頭望明月，
                低頭思故鄉。
            </span>
        </div>
    </div>
    <div class="home_poet_name"><span>李白</span></div>
    <div class="home_stamp"></div>
</div>

<!--主页的bottom组件-->
<div class="bottom">
    <div class="icon">
        <span class="iconfont">&#xe625;</span><br>
        <span class="icon_text">文库</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe627;</span><br>
        <span class="icon_text">主页</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe617;</span><br>
        <span class="icon_text">互动</span>
    </div>
</div>
</body>
</html>