<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "./MyInform.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

<!--主页的banner组件-->
<div class="banner">
    <div class="return"><span class="iconfont">&#xe608;</span>返回</div>
    <div class="title">我的足迹</div>
</div>


<!--中间部分-->

<div class="MyInform_container">
    <div class="MyInform">
        <div class="MyInform_avanta_frame">
            <div class="MyInform_avanta">
                <img src="../../image/profile_photo/default_male.png" alt="显示头像失败">
            </div>
        </div>
        <div class="inform_display">
            <div class="user_name">风雨同舟</div>
            <div class="achievement">著作等身</div>
            <div class="subLine"></div>
            <div class="level">等级:
                <span class="level_value">4</span>
            </div>
            <div class="exp">经验:
                <span class="exp_value">1000</span>
            </div>
        </div>
    </div>

    <div class="myFootPrint">
        <div class="line"></div>
        <div class="panel_name">我的足迹</div>
        <div class="line"></div>
        <div class="panel">
            <div class="track">·发表过 <span class="productions">4</span> 篇文章！</div>
            <div class="track">·发表过 <span class="comments">5</span> 个评论！ </div>
            <div class="track">·获得了 <span class="likenum">5</span> 个赞！</div>

        </div>
    </div>

    <div class="MyAchievement">
        <div class="line"></div>
        <div class="panel_name">我的成就</div>
        <div class="line"></div>

        <div class="panel">
            <div class="achievement">著作等身</div>
            <div class="achievement">初出茅庐</div>
            <div class="achievement">翰林学士</div>
            <div class="achievement">学富五车</div>
        </div>
    </div>


</div>





<!--主页的bottom组件-->
<div class="bottom">
    <div class="icon">
        <span class="iconfont">&#xe625;</span><br>
        <span class="icon_text">文库</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe627;</span><br>
        <span class="icon_text">主页</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe617;</span><br>
        <span class="icon_text">互动</span>
    </div>
</div>
</body>
</html>