<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Document</title>
    <style>
        @import "./edit_message.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>
    <!--主页的banner组件-->
    <div class="banner">
        <div class="return"><span class="iconfont">&#xe608;</span>返回</div>
        <div class="title">编辑信息</div>
    </div>

    <!-- 主体 -->
    <div class="editBody">
        <div class="nickNameBox">
            <div class="nnWord">昵称：</div> 
            <input type="text" value="吾好梦中作诗" class="nickName">
        </div>
        

        <div class="changeSex" style="font-family: 晨曦, serif;font-size: 42px;font-weight: 600">您是一位？:
            <div class="checkGender">
                <div class="checkGenderBox">
                    <input type="radio" name="sex" value="male" style="width: 28px;height: 28px">公子
                </div>
                <div class="checkGenderBox">
                    <input type="radio" name="sex" value="female" style="width: 28px;height: 28px">丽人
                </div>
            </div>
        </div>

        <div class="edit_word">
            <span style="font-family: 晨曦, serif;font-size: 42px;font-weight: 600">您的座右铭： </span>
            <div class="bigText">
                <label>
                    <textarea class="signature" rows="3" cols="20">//天生我材必有用。</textarea>
                </label>
            </div>
        </div>

        <div class="button"><span>提 交</span></div>
    </div>
</body>
</html>