<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Document</title>
    <style>
            @import "./my_concern.css";
            @import "../../public_css/bus.css";
    </style>
</head>
<body>
    <!--主页的banner组件-->
    <div class="banner">
        <div class="return"><span class="iconfont">&#xe608;</span>返回</div>
        <div class="title">我的关注</div>
    </div>

    <!-- 简介排列框组件 -->
    <div class="my_concern_synopsisBox">

        <!-- 简介组件（举例） -->
        <div class="my_concern_poetrySynops">
             <!--插入头像插入两个div。-->
            <div class="my_concern_avanta_frame">
                <div class="my_concern_avanta"></div>
            </div>
            
            <div class="my_concern_nickName">吾好梦中作诗</div>
            <div class="my_concern_level">Lv100</div>
            <div class="my_concern_fansNum">粉丝:<div class="fansNumber">198</div></div>
            <div class="my_concern_achievement">翰林学士</div>
        </div>

        <div class="my_concern_poetrySynops">
             <!--插入头像插入两个div。-->
            <div class="my_concern_avanta_frame">
                <div class="my_concern_avanta"></div>
            </div>
            
            <div class="my_concern_nickName">吾好梦中作诗</div>
            <div class="my_concern_level">Lv100</div>
            <div class="my_concern_fansNum">粉丝:<div class="fansNumber">198</div></div>
            <div class="my_concern_achievement">翰林学士</div>
        </div>

        <div class="my_concern_poetrySynops">
             <!--插入头像插入两个div。-->
            <div class="my_concern_avanta_frame">
                <div class="my_concern_avanta"></div>
            </div>
            
            <div class="my_concern_nickName">吾好梦中作诗</div>
            <div class="my_concern_level">Lv100</div>
            <div class="my_concern_fansNum">粉丝:<div class="fansNumber">198</div></div>
            <div class="my_concern_achievement">翰林学士</div>
        </div>

    </div>

    <!--主页的bottom组件-->
    <div class="bottom">
        <div class="icon">
            <span class="iconfont">&#xe625;</span><br>
            <span class="icon_text">文库</span>
        </div>
        <div class="icon">
            <span class="iconfont">&#xe627;</span><br>
            <span class="icon_text">主页</span>
        </div>
        <div class="icon">
            <span class="iconfont">&#xe617;</span><br>
            <span class="icon_text">互动</span>
        </div>
    </div>
</body>
</html>