<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "./store.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

<!--主页的banner组件-->
<div class="banner">
    <div class="return"><span class="iconfont">&#xe608;</span>返回</div>
    <div class="title">集市</div>
</div>

<div class="navigation">
    <div class="stuff">明信片</div>
    <div class="stuff">印章</div>
</div>

<div class="items_display">
    <div class="item">
        <div class="pic">
            <img src="../../image/postcard1.png" alt="请检查网络连接">
        </div>
        <div class="item_Inform">
            <div class="item_Name">清明上河图</div>
            <div class="price">
                <span class="price_value">50</span>积分
            </div>
            <div class="purchase">
                <span class="iconfont">&#xe60f;</span>
                购买
            </div>
        </div>
    </div>
    <div class="item">
        <div class="pic">
            <img src="../../image/postcard1.png" alt="请检查网络连接">
        </div>
        <div class="item_Inform">
            <div class="item_Name">清明上河图</div>
            <div class="price">
                <span class="price_value">50</span>积分
            </div>
            <div class="purchase">
                <span class="iconfont">&#xe60f;</span>
                购买
            </div>
        </div>
    </div>
    <div class="item">
        <div class="pic">
            <img src="../../image/postcard1.png" alt="请检查网络连接">
        </div>
        <div class="item_Inform">
            <div class="item_Name">清明上河图</div>
            <div class="price">
                <span class="price_value">50</span>积分
            </div>
            <div class="purchase">
                <span class="iconfont">&#xe60f;</span>
                购买
            </div>
        </div>
    </div>
    <div class="item">
        <div class="pic">
            <img src="../../image/postcard1.png" alt="请检查网络连接">
        </div>
        <div class="item_Inform">
            <div class="item_Name">清明上河图</div>
            <div class="price">
                <span class="price_value">50</span>积分
            </div>
            <div class="purchase">
                <span class="iconfont">&#xe60f;</span>
                购买
            </div>
        </div>
    </div>
    <div class="item">
        <div class="pic">
            <img src="../../image/postcard1.png" alt="请检查网络连接">
        </div>
        <div class="item_Inform">
            <div class="item_Name">清明上河图</div>
            <div class="price">
                <span class="price_value">50</span>积分
            </div>
            <div class="purchase">
                <span class="iconfont">&#xe60f;</span>
                购买
            </div>
        </div>
    </div>
    <div class="item">
        <div class="pic">
            <img src="../../image/postcard1.png" alt="请检查网络连接">
        </div>
        <div class="item_Inform">
            <div class="item_Name">清明上河图</div>
            <div class="price">
                <span class="price_value">50</span>积分
            </div>
            <div class="purchase">
                <span class="iconfont">&#xe60f;</span>
                购买
            </div>
        </div>
    </div>
    <div class="item">
        <div class="pic">
            <img src="../../image/postcard1.png" alt="请检查网络连接">
        </div>
        <div class="item_Inform">
            <div class="item_Name">清明上河图</div>
            <div class="price">
                <span class="price_value">50</span>积分
            </div>
            <div class="purchase">
                <span class="iconfont">&#xe60f;</span>
                购买
            </div>
        </div>
    </div>
    <div class="item">
        <div class="pic">
            <img src="../../image/postcard1.png" alt="请检查网络连接">
        </div>
        <div class="item_Inform">
            <div class="item_Name">清明上河图</div>
            <div class="price">
                <span class="price_value">50</span>积分
            </div>
            <div class="purchase">
                <span class="iconfont">&#xe60f;</span>
                购买
            </div>
        </div>
    </div>
</div>



<!--主页的bottom组件-->
<div class="bottom">
    <div class="icon">
        <span class="iconfont">&#xe625;</span><br>
        <span class="icon_text">文库</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe627;</span><br>
        <span class="icon_text">主页</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe617;</span><br>
        <span class="icon_text">互动</span>
    </div>
</div>
</body>
</html>