<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "./login.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

<div class="login_container">
    <div class="login_logo"></div>
    <div class="login_welcome"><span>有朋自远方来，<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不亦乐乎？</span></div>
    <div><span style="font-family: 晨曦, serif;font-size: 42px;font-weight: 600">账号: </span><input class="login_text" type="text"></div>
    <div><span style="font-family: 晨曦, serif;font-size: 42px;font-weight: 600">密码: </span><input class="login_text" type="password"></div>
    <div class="login_button"><span>進  入</span></div>
    <div class="login_forgot"><span>新用户加入</span></div>
</div>
</body>
</html>