<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "./home2.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

<!--主页的banner组件-->
<div class="banner">
    <div class="avanta_frame">
        <div class="avanta"></div>
    </div>
    <div class="search_text">
        <input type="text" value="//及时当勉励，岁月不待人。">
        <span class="iconfont">&#xe631;</span>

    </div>
    <div class="create_icon">
        <span class="iconfont">&#xe60f;</span>
    </div>
</div>



<!--中间组件-->


<ul class="home2_poem_list">
  <li><div class="home2_user_poem">
      <div class="home2_avanta_frame">
          <div class="home2_avanta"></div>
      </div>
      <div class="home2_username"><span>云淡风轻</span></div>
      <div class="home2_achievement"><span>翰林学士</span></div>
      <div class="home2_top_border"></div>
      <div class="home2_poem_text"><span>天接云涛连晓雾，星河欲转千帆舞。仿佛梦魂归帝所。闻天语，殷勤问我归何处。
我报路长嗟日暮，学诗谩有惊人句。九万里风鹏正举。风休住，蓬舟吹取三山去！</span></div>
      <div class="home2_title"><span>渔家傲</span></div>
      <div class="home2_stamp"></div>
      <div class="home2_showtime">创作时间: <span>2019-2-13</span></div>
      <div class="home2_panel">
          <div class="home2_choose"><span>1.1k+</span> 評論</div>
          <div class="home2_string"></div>
          <div class="home2_choose"><span>6.2w+</span> 喜歡</div>
          <div class="home2_string"></div>
          <div class="home2_choose"><span>1.2w+</span> 收藏</div>
      </div>
  </div>

  </li>
  <li>
      <div class="home2_user_poem">
          <div class="home2_avanta_frame">
              <div class="home2_avanta"></div>
          </div>
          <div class="home2_username"><span>云淡风轻</span></div>
          <div class="home2_achievement"><span>翰林学士</span></div>
          <div class="home2_top_border"></div>
          <div class="home2_poem_text"><span>天接云涛连晓雾，星河欲转千帆舞。仿佛梦魂归帝所。闻天语，殷勤问我归何处。
我报路长嗟日暮，学诗谩有惊人句。九万里风鹏正举。风休住，蓬舟吹取三山去！</span></div>
          <div class="home2_title"><span>渔家傲</span></div>
          <div class="home2_stamp"></div>
          <div class="home2_showtime">创作时间: <span>2019-2-13</span></div>
          <div class="home2_panel">
              <div class="home2_choose"><span>1.1k+</span> 評論</div>
              <div class="home2_string"></div>
              <div class="home2_choose"><span>6.2w+</span> 喜歡</div>
              <div class="home2_string"></div>
              <div class="home2_choose"><span>1.2w+</span> 收藏</div>
          </div>
      </div>
  </li>
</ul>

<!--主页的bottom组件-->
<div class="bottom">
    <div class="icon">
        <span class="iconfont">&#xe625;</span><br>
        <span class="icon_text">文库</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe627;</span><br>
        <span class="icon_text">主页</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe617;</span><br>
        <span class="icon_text">互动</span>
    </div>
</div>
</body>
</html>