<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "./user_works.css";
        @import "../../public_css/bus.css";
    </style>
</head>
<body>

<!--主页的banner组件-->
<div class="banner">
    <div class="return"><span class="iconfont">&#xe608;</span>返回</div>
    <div class="top_title">用户作品</div>
</div>


<!-- 中间组件 -->
<ul class="poem_list">
    <li><div class="user_poem">
        <div class="avanta_frame">
            <div class="avanta"></div>
        </div>
        <div class="username"><span>云淡风轻</span></div>
        <div class="achievement"><span>翰林学士</span></div>
        <div class="top_border"></div>
        <div class="poem_text"><span>天接云涛连晓雾，星河欲转千帆舞。仿佛梦魂归帝所。闻天语，殷勤问我归何处。
  我报路长嗟日暮，学诗谩有惊人句。九万里风鹏正举。风休住，蓬舟吹取三山去！</span></div>
        <div class="title"><span>渔家傲</span></div>
        <div class="stamp"></div>
        <div class="showtime">创作时间: <span>2019-2-13</span></div>
        <div class="panel">
            <div class="choose"><span>1.1k+</span> 評論</div>
            <div class="string"></div>
            <div class="choose"><span>6.2w+</span> 喜歡</div>
            <div class="string"></div>
            <div class="choose"><span>1.2w+</span> 收藏</div>
        </div>
  
  
    </div></li>
    
    <li></li>
  </ul>

  <!-- 简介排列框组件 -->
    <div class="synopsisBox">

        <div class="plq">评论区:</div>

        <!-- 评论组件（举例） -->
        <div class="poetrySynops">
            <!--插入头像插入两个div。-->
            <div class="avanta_frame">
                <div class="avanta"></div>
            </div>
            
            <div class="nickName">吾好梦中作诗</div>
            <div class="level">Lv100</div>
            <div class="achievement">翰林学士</div>

            <div class="comment_text">天接云涛连晓雾，星河欲转千帆舞。仿佛梦魂归帝所。闻天语，殷勤问我归何处。
                    我报路长嗟日暮，学诗谩有惊人句。九万里风鹏正举。风休住，蓬舟吹取三山去！</div>
        </div>

        <div class="poetrySynops">

            <!--插入头像插入两个div。-->
            <div class="avanta_frame">
                <div class="avanta"></div>
            </div>
            
            <div class="nickName">吾好梦中作诗</div>
            <div class="level">Lv100</div>
            <div class="achievement">翰林学士</div>

            <div class="comment_text">天接云涛连晓雾，星河欲转千帆舞。仿佛梦魂归帝所。闻天语，殷勤问我归何处。
                    我报路长嗟日暮，学诗谩有惊人句。九万里风鹏正举。风休住，蓬舟吹取三山去！</div>
        </div>
    </div>

<!--主页的bottom组件-->
<div class="bottom">
    <div class="icon">
        <span class="iconfont">&#xe625;</span><br>
        <span class="icon_text">文库</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe627;</span><br>
        <span class="icon_text">主页</span>
    </div>
    <div class="icon">
        <span class="iconfont">&#xe617;</span><br>
        <span class="icon_text">互动</span>
    </div>
</div>
</body>
</html>